@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-titulo: 'Montserrat', sans-serif;
    --font-texto: 'Roboto', sans-serif;
    --color-principal: #2E86C1;
    --color-texto-oscuro: #333333;
    --color-texto-claro: #000000;
    --color-fondo: #f9f9f9;
    --color-blanco: #ffffff;
}

/* navbar */
.top-header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 30px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); 
    position: sticky; 
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 90px;
}

.top-header ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

.top-header ul li a {
    text-decoration: none;
    color: var(--color-texto-claro);
    font-family: var(--font-titulo);
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 5px;
    transition: color 0.3s ease;

}

.top-header ul li a.active {
    color: var(--color-principal);
    border-bottom: 3px solid var(--color-principal);
}
section[id] {
    scroll-margin-top: 160px; 
}

.top-header ul li a:hover {
    color: var(--color-principal);
}

.nav-button button {
    background-color: #2E86C1;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 50px; 
    font-family: var(--font-titulo);
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;

}

.inicio {
    padding: 80px 0;
}

.container-inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 90%; 
    max-width: 1300px; 
    margin: 0 auto; 
}

.texto-inicio {
    flex: 1;
}

.texto-inicio h1 {
    font-family: var(--font-titulo);
    font-size: 45px;
    font-weight: 700;
    color: var(--color-texto-oscuro);
    line-height: 1.2;
    margin-bottom: 20px;
}

.texto-inicio p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
    font-family: var(--font-texto);
}

.imagen-inicio {
    flex: 1;
}

.imagen-inicio img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* beneficios */
.beneficios {
    background-color: var(--color-blanco);
    padding: 80px 0;
}

.container-beneficios {
    width: 90%; 
    max-width: 1100px;
    margin: 0 auto; 
    text-align: center; 
}

.container-beneficios h2 {
    font-family: var(--font-titulo);
    font-size: 34px;
    font-weight: 500;
    color: var(--color-texto-oscuro);
    margin-bottom: 20px;
    position: relative; 
    display: inline-block;
    padding-bottom: 10px;
}
.container-beneficios h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px; 
    background-color: var(--color-principal);
    border-radius: 2px;
}

.lista-beneficios {
    display: flex;
    justify-content: space-between; 
    gap: 80px;
    margin-top: 50px; 
    text-align: left; 
}
.beneficio1,
.beneficio2,
.beneficio3 {
    flex-basis: 31%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);
    text-align: center;
}

.lista-beneficios img {
    height: 60px;
    margin-bottom: 20px;
}

.lista-beneficios h3 {
    font-family: var(--font-titulo);
    font-size: 1.4rem;
    color: var(--color-texto-oscuro);
    margin-bottom: 15px;
}

.lista-beneficios p {
    font-family: var(--font-texto);
    font-size: 1rem;
    line-height: 1.5;
    color: black;
}

.beneficio1,
.beneficio3 {
    background-color: #58D68D;
}
.beneficio2 {
    background-color: #E7E4E4; 
}